/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #fff;
  min-height: 100vh;
}

.interface {
  max-width: 1980px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between; /* Ajusta o espaçamento entre os elementos */
  flex-wrap: wrap; /* Permite que os elementos se ajustem em múltiplas linhas, se necessário */
}

/* Estilo do cabeçalho */
header {
  padding: 40px 4%;
}

.logo img {
  max-width: 150px;
  height: auto;
  margin-right: 300px;
}

header .interface {
  display: flex;
  align-items: center;
}

.menu-desktop ul li a {
  text-decoration: none;
  padding: 1px;
  margin-left: 10px;
}

header a {
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: burlywood;
  transform: scale(1.05);
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

.btn-agende {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  color: antiquewhite;
  background-color: darksalmon;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 30px;
}

.btn-agende:hover {
  transform: scale(1.1); 
}

.btn-agende img {
  margin-left: 10px;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

/* Estilo do topo do site */
section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.topo-do-site .txt-topo-site {
  flex: 1;
  max-width: 90%; /* Ajuste a largura máxima */
}

section.topo-do-site .txt-topo-site h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

section.topo-do-site .txt-topo-site p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify; /* Justifica o texto para alinhamento nas bordas laterais */
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}

/* Estilo da seção Quem Sou */
section.quem-sou {
  padding: 40px 4%;
  background-color: #FFF0E9; 
}

section.quem-sou .interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

section.quem-sou .imagem-quem-sou {
  flex: 1;
  max-width: 20%; /* Ajuste a largura máxima */
  margin-right: 40px; /* Adiciona espaço entre a imagem e o texto */
}

section.quem-sou .imagem-quem-sou img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

section.quem-sou .texto-quem-sou {
  flex: 2;
  max-width: 60%; /* Ajuste a largura máxima */
}

section.quem-sou .texto-quem-sou h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

section.quem-sou .texto-quem-sou p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify; 
}

/* Minhas especialidades */
.especialidades {
  padding: 50px 4%;
  background-color:#fff;
  width: 100%;
  margin-top: 60px;
}

.especialidades h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.especialidades h2 span {
  color:chocolate;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.especialidades-box {
  flex: 1 1 200px;
  min-width: 200px; 
  max-width: 300px; 
  background-color: #E9967A;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px; 
  text-decoration: none;
}

.especialidades-box h3 {
  font-size: 20px;
  color: #333;
}

.especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo da seção "Descrição de Especialidade" */
.descricao-especialidade {
  padding: 50px 4%;
  background-color: #fff;
}

.descricao-especialidade h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.descricao-especialidade p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  text-align: center;
}

.descricao-especialidade .interface {
  max-width: 800px;
  margin: 0 auto;
}
.descricao-especialidade .interface h2{
 color:#E9967A;

}