/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #fff;
  min-height: 100vh;
}

.interface {
  max-width: 1980px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between; /* Ajusta o espaçamento entre os elementos */
}

/* Estilo do cabeçalho */
header {
  padding: 40px 4%;
}

.logo img {
  max-width: 150px;
  height: auto;
  margin-right: 500px;
}

header .interface {
  display: flex;
  align-items: center;
}

.menu-desktop ul li a {
  text-decoration: none;
  padding: 1px;
  margin-left: 10px;
}

header a {
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: burlywood;
  transform: scale(1.05);
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

.btn-agende {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  color: antiquewhite;
  background-color: darksalmon;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;
}

.btn-agende:hover {
  transform: scale(1.1); 
}

.btn-agende img {
  margin-left: 10px;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

/* Estilo do topo do site */
section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.topo-do-site .txt-topo-site {
  flex: 1;
  max-width: 65%; /* Ajuste a largura máxima */
}

section.topo-do-site .txt-topo-site h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

section.topo-do-site .txt-topo-site p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

section.topo-do-site .primeira-imagem {
  flex: 1;
  text-align: right;
  max-width: 30%; /* Ajuste a largura máxima */
}

section.topo-do-site .primeira-imagem img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}

/* Minhas especialidades */
.especialidades {
  padding: 50px 4%;
  background-color: #E9967A;
  width: 100%;
}

.especialidades h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.especialidades h2 span {
  color: darksalmon;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.especialidades-box {
  background-color: white;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 300px; /* Flex grow, shrink, and basis for responsive design */
  max-width: 300px;
}

.especialidades-box h3 {
  font-size: 20px;
  color: #333;
}

.especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
