/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #fff;
  min-height: 100vh;
  padding-top: 200px;
}

.interface {
  max-width: 1980px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

/* Estilo do cabeçalho */
header {
  padding: 0px; /* Ajuste o padding conforme necessário */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF0E9;
  z-index: 1000; 
}

.logo img {
  max-width: 190px;
  height: auto;
}

header .interface {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adiciona espaço entre a logo/menu e o botão */
}

.menu-desktop ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu-desktop ul li {
  margin-left: 40px;
}

.menu-desktop ul li a {
  text-decoration: none;
  padding: 1px;
  color: #7d7d7d;
  transition: 0.2s;
}

.menu-desktop ul li a:hover {
  color: burlywood;
  transform: scale(1.05);
}

.social-icon {
  width: 20px;
  margin-left: 10px; 
}

.btn-agende {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  color: antiquewhite;
  background-color: darksalmon;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 30px;
}

.btn-agende:hover {
  transform: scale(1.1); 
}

.btn-agende img {
  margin-left: 10px;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

/* Estilo do topo do site */
section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.topo-do-site .txt-topo-site {
  flex: 1;
  max-width: 90%; /* Ajuste a largura máxima */
}

section.topo-do-site .txt-topo-site h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

section.topo-do-site .txt-topo-site p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify; 
  position: relative;
  bottom: 10px;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}

/* Estilo da seção Quem Sou */
section.quem-sou {
  padding: 80px 4%;
  background-color: #FFF0E9; 
}

section.quem-sou .interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

section.quem-sou .imagem-quem-sou {
  flex: 1;
  max-width: 20%; /* Ajuste a largura máxima */
  margin-right: 40px; /* Adiciona espaço entre a imagem e o texto */
}

section.quem-sou .imagem-quem-sou img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

section.quem-sou .texto-quem-sou {
  flex: 2;
  max-width: 60%; /* Ajuste a largura máxima */
}

section.quem-sou .texto-quem-sou h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

section.quem-sou .texto-quem-sou p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify; 
}

/* Minhas especialidades */
.especialidades {
  padding: 50px 4%;
  background-color:#fff;
  width: 100%;
  margin-top: 60px;
}

.especialidades h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.especialidades h2 span {
  color:chocolate;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.especialidades-box {
  flex: 1 1 200px;
  min-width: 200px; 
  max-width: 300px; 
  background-color: #E9967A;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px; 
  text-decoration: none;
}

.especialidades-box h3 {
  font-size: 20px;
  color: #333;
}

.especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo da seção "Descrição de Especialidade" */
.descricao-especialidade {
  padding: 50px 4%;
  background-color: #fff;
}

.descricao-especialidade h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.descricao-especialidade p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  text-align: center;
}

.descricao-especialidade .interface {
  max-width: 1800px;
  margin: 0 auto;
}
.descricao-especialidade .interface h2{
 color:#E9967A;
}

/* Estilo da seção "Localização" */
section.localizacao {
  padding: 50px 4%;
  background-color: #f5f5f5;
}

section.localizacao .interface {
  max-width: 1800px;
  margin: 0 auto;
}

section.localizacao h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

section.localizacao p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

section.localizacao address {
  font-style: normal;
  margin-bottom: 20px;
}

section.localizacao address p {
  margin-bottom: 5px;
}

section.localizacao .flex {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centraliza verticalmente os itens */
}

section.localizacao .mapa-imagem {
  display: flex;
  flex: 1;
  justify-content: space-between; /* Distribui os itens horizontalmente */
}

section.localizacao .mapa-localizacao {
  flex: 1;
  margin-right: 20px; /* Espaçamento entre o mapa e a imagem */
}

section.localizacao .imagem-localizacao {
  width: 40%; /* Tamanho da imagem ocupando 30% do espaço */
}

section.localizacao .imagem-localizacao img {
  width: 680px; /* Define a largura desejada */
  height: auto; /* Mantém a proporção da imagem */
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
}

/* Estilo para o footer */
footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
  margin-top: 0px; 
}

/* Estilo para o texto do footer */
footer p {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px; /* Espaçamento inferior entre os parágrafos */
}

/* Estilo para o link do footer */
footer a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Estilo para o link do footer quando hover */
footer a:hover {
  color: #555;
}


